html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

h2 {
  font-size: 4rem;
  margin: 0 0 .3em;
  color: #fff;
  font-weight: bold;
}

.text {
  position: absolute;
  width: 100%;
  bottom: 1.9em;
  transform: translate(-50%, -.5%);
  left: 55%;
  right: auto;
  max-width: 50em;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

span {
  background-color: rgba(0,0,0,.5);
}
